---
import { projects } from "../config/proyect.json";
import "bootstrap/dist/css/bootstrap.css";
---

<div class="row justify-content-center">
  
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Pieda,Papel o Tijera</h5>
      <p class="card-text">tecnologias:React scoket.io</p>
      <a href="/ppt" class="btn btn-primary">Ver mas</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Sistema de ventas</h5>
      <p class="card-text">tecnologias:React-Express-React Native</p>
      <a href="/ventas" class="btn btn-primary">Ver mas</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Turnos</h5>
      <p class="card-text">tecnologias:React Express SQL</p>
      <a href="/turnos" class="btn btn-primary">Ver mas</a>
    </div>
  </div>


</div>

<style></style>
