---
import "bootstrap/dist/css/bootstrap.css";
---

<nav class="navbar navbar-expand-lg " style="background-color: #926f0e44>
  <a class="navbar-brand" href="#">ABADUNA</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ppt">Piedra,papel o tijera</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/turnos">Sistema de turnos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ventas"> Sistema de ventas</a>
      </li>
     
    </ul>
  </div>
</nav>

<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
</style>
